:root{
    --txt-content: rgb(117, 117, 117);      /*Додатковий колір тексту*/

    --text-main-color: rgb(33, 33, 33);
    --bg-while: rgb(245, 244, 250);
    --text-txt-while: rgb(255, 255, 255);
    --bg-blue: rgb(33, 150, 243);
}

/*=*=*=*=*=*=*=*=*=*= Основні налаштування =*=*=*=*=*=*=*=*=*=*/
button{
    display: inline-block;

    color: var(--txt-main-color);
    background-color: var(--bg-light-gray);
    font-family: inherit;                     /*Примусове наслідування свойства від боді*/
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em; 
}

button:hover, button:focus{
    color: var(--txt-bg-while);
    background-color: var(--txt-bg-blue);
}
/*=*=*=*=*=*=*=*=*=*= /Основні налаштування =*=*=*=*=*=*=*=*=*=*/



/*=== Готові роботи ===*/
.work-container{
    display: flex;
    flex-wrap: wrap;
}

.worck-nav{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.worck-nav .item:not(:last-child){
    margin-right: 8px;
}

.work-container .item{
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
}

.work-container .item:nth-child(3n){
    margin-right: 0;
}

.work-container .item:nth-last-child(-n + 3){
    margin-bottom: 0;
}

.work-title{
    margin-top: 0;
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.work-div-content{
    padding: 20px 24px;
}

.work-content{
    margin-top: 0;
    margin-bottom: 0;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--txt-content);
}
/*=== /Готові роботи ===*/

/*.txt-content{
    font-size: 16px;
    color: var(--txt-content);
    text-align: left;
}

.txt-title{
    font-size: 18px;
    text-align: left;
}
*/